language: java
jdk:
  - oraclejdk8

deploy:
  provider: heroku
  api_key:
      deathtest:
          secure: WHybpsV71ID+MjU+Fp4Glzfm5B4MBv7qzd5BFI4CpLRZuBb6zqMd7UCbGUFETr2awVYVj88XEL0gddLbJH4jrFr3YOTVzoRmvVKp80MOuYOib6rgAeyHt00eLESGntOKildZN6ajFik+TfW3qbfsbhsIc73IgLuqGXMTSWewrasdxn7blLnZfBrXf/BmowW3buQK5e0JjTE27SrGR5cMCMWEe/5T+iEGB1k1+wy+e1NTwb4fVeVyrxAOGcio1IFeWV8e4C8JUOCbUdOv3PFCYTJn+sjcdVfT2P0R0OfO2wYet4D2AfsQ6eYJfIZapcLrJ84RrxkIdFymDYXiMfBrzA+WTj38rKT/fjPlQLxpivyh+ln1+yRKMwx8cYgkZNioxf3BqaBJCDZtJexyVEZoTjID/7k5uEkPcUnWNumhlF5mUVykn3AelSKNgkBa4DOX2QwAkGlaHaMjbwWzh071/2rW6jaMRybZf8j9mUXAIXsCiHT6V4X25ax5ugs5PaX5R4StzgIssGfte4jvxK9jgfkwOzWcOfz9BvW0fUecD4TDqtAz+ALII1vssqkbeAkuQgICBdCZGiknygliDITZYG7GZKbhzyjNMYhlWXqx0G06rjj9pciZyPLWsmMqFVeEGySrPVBt9yUOpank7bnUI68kAQIS3LYSvOHsqiueFgI=
  app:
    deathtest: cardgame092016